@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 400px) {
  .container {
    padding: 0 9px;
  }
}

.wrapper {
  min-height: 100vh;
}

.header {
  padding-top: 56px;
  overflow: hidden;
}
@media (max-width: 640px) {
  .header {
    padding-top: 100px;
  }
}
.header__top {
  background-color: #131921;
  height: 56px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
}
@media (max-width: 640px) {
  .header__top {
    height: 100px;
  }
}
.header__nav {
  width: 100%;
  background-color: #232f3e;
}
.header__wrap-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .header__wrap-top {
    flex-wrap: wrap;
  }
}
.header__img {
  width: 110px;
  height: 46px;
  margin-top: 6px;
}
.header__form {
  position: relative;
}
.header__right {
  display: flex;
  height: 100%;
  align-items: center;
}
.header__input {
  display: block;
  font-size: 14px;
  width: 440px;
  height: 38px;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 40px;
  outline: none;
  border: none;
}
@media (max-width: 820px) {
  .header__input {
    width: 240px;
  }
}
@media (max-width: 400px) {
  .header__input {
    width: 180px;
  }
}
.header__submit {
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0px;
  width: 40px;
  height: 38px;
  background-color: #febd69;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.header__icons {
  margin-left: 14px;
}
.header__icons--avatar {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__icon-profile {
  font-size: 0.8rem;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  background-color: #3e4fe2;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.header__sign {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-right: 2px;
  border: 1px solid #131921;
  border-radius: 2px;
  padding: 8px;
}
.header__sign:hover {
  border-color: #fff;
}
.header__cart {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-right: 2px;
  border: 1px solid #131921;
  border-radius: 2px;
  padding: 8px;
  position: relative;
  transition: all 0.2s;
}
.header__cart:hover {
  border-color: #fff;
}
.header__cart-text {
  position: relative;
  top: 9px;
  margin-left: 8px;
  font-size: 14px;
}
.header__cart-text:hover {
  color: #f02020;
}
.header__cart-badge {
  position: absolute;
  display: block;
  height: 22px;
  width: 22px;
  color: #fff;
  background-color: #f02020;
  text-align: center;
  line-height: 22px;
  font-size: 13px;
  border-radius: 50%;
  top: 1px;
  left: 20px;
}

.nav {
  display: flex;
  height: 42px;
  padding-right: 400px;
  align-items: center;
  position: relative;
}
.nav__link {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  padding: 3px 6px;
}
.nav__link:hover {
  border: 1px solid #ffffff;
}
.nav__link--img {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
}
.nav__link--img:hover {
  border: none;
}
@media (max-width: 500px) {
  .nav__link--img {
    display: none;
  }
}
.nav__link--all {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-left: 21px;
}
.nav__link-icon {
  top: 0;
  right: 0;
  font-size: 1.8rem;
}

.main {
  min-height: calc(100vh - 450px);
}
.main__content {
  margin: 30px 0;
}
.main__title {
  margin-top: 10px;
}
.main__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 600;
}
.main__search-select {
  padding: 6px;
}
.main__content-wrap {
  display: grid;
  grid-template-columns: 300px 1fr;
  justify-content: center;
}
@media (max-width: 765px) {
  .main__content-wrap--filter {
    grid-template-columns: 1fr;
  }
}
.main__left-title {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 9px;
  color: #551a8b;
}
.main__left-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.main__left-item {
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.main__left-item:hover {
  color: #f0c040;
}
.main__left-item i {
  color: #f0c040;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  width: 90%;
  margin: 30px auto;
  margin-bottom: 20px;
}
@media (max-width: 1180px) {
  .products {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 650px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1180px) {
  .products--filter {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1000px) {
  .products--filter {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 465px) {
  .products--filter {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  width: 100%;
  border: 0.1rem solid silver;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  overflow: hidden;
}
.card__img-top {
  display: block;
  width: 100%;
  height: 292px;
  -o-object-fit: contain;
     object-fit: contain;
}
.card__body {
  padding: 10px;
}
.card__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  color: #551a8b;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.card__title:hover {
  color: #f0c040;
}
.card__review {
  margin-bottom: 6px;
}
.card__review i {
  color: #f0c040;
}
.card__price {
  font-size: 18px;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail__go-back {
  cursor: pointer;
  color: #676796;
  margin: 10px 0;
  display: inline-block;
  font-weight: bold;
}
.detail__go-back:hover {
  color: #f0c040;
}
.detail__content {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-bottom: 50px;
}
@media (max-width: 920px) {
  .detail__content {
    flex-wrap: wrap;
  }
}
.detail__picture {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media (max-width: 920px) {
  .detail__picture {
    width: 65%;
  }
}
@media (max-width: 650px) {
  .detail__picture {
    width: 100%;
  }
}
.detail__description {
  width: 30%;
}
@media (max-width: 650px) {
  .detail__description {
    width: 100%;
    margin-top: 20px;
  }
}
.detail__right {
  flex: 0 0 240px;
  border: 0.1rem solid silver;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  padding: 16px;
  height: 282px;
}
@media (max-width: 920px) {
  .detail__right {
    margin-top: 30px;
    flex: 1;
  }
}
@media (max-width: 650px) {
  .detail__right {
    flex: 1;
  }
}
.detail__right--cart {
  width: 100%;
  height: 140px;
}
.detail__img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 600px;
  display: block;
  width: 100%;
}
.detail__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.detail__item {
  font-size: 16px;
  margin-bottom: 10px;
}
.detail__item--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail__item i {
  color: #f0c040;
}
.detail__select {
  padding: 5px;
  font-size: 17px;
  margin: 4px;
  border: 1px solid black;
}
.detail__btn {
  background-color: #f0c040;
  border: none;
  width: 100%;
  padding: 8px;
  border-radius: 0.5rem;
  border: 0.1rem solid #a4a4a4;
  font-size: 18px;
  margin-top: 16px;
  cursor: pointer;
}
.detail__btn:hover {
  border-color: #000000;
}
.detail__btn--inactive {
  background-color: #a4a4a4;
  color: #131921;
  border: 1px solid #131921;
  cursor: not-allowed;
}

.shop-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
}
@media (max-width: 1000px) {
  .shop-cart__left {
    width: 100%;
  }
}
.shop-cart__right {
  width: 300px;
}
@media (max-width: 1000px) {
  .shop-cart__right {
    width: 100%;
  }
}
.shop-cart__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: calc(90vw - 300px);
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .shop-cart__item {
    width: 100%;
  }
}
.shop-cart__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 90px;
  height: 110px;
}
.shop-cart__description {
  width: 300px;
}
@media (max-width: 600px) {
  .shop-cart__description {
    width: 200px;
  }
}
.shop-cart__description a:hover {
  color: #f0c040;
}
.shop-cart__select {
  padding: 8px;
}
.shop-cart__price {
  font-size: 17px;
  font-weight: 500;
}
.shop-cart__btn {
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 0.4rem;
  border: 0.1rem solid #a4a4a4;
  font-size: 14px;
}
.shop-cart__btn:hover {
  border-color: #000000;
}

.modal {
  background-color: #efefef;
  position: fixed;
  left: -320px;
  top: 0;
  width: 320px;
  height: 100vh;
  padding: 70px 15px;
  transition: all 0.2s linear;
}
@media (max-width: 426px) {
  .modal {
    width: 100%;
    left: -100%;
  }
}
.modal.toggle {
  left: 0;
}
@media (max-width: 640px) {
  .modal.toggle {
    padding-top: 120px;
  }
}
.modal__content {
  position: relative;
}
.modal__title {
  margin-bottom: 15px;
}
.modal__item {
  margin: 8px 0;
}
.modal__link {
  color: #551a8b;
}
.modal__close {
  background-color: #f8f8f8;
  border-radius: 5px;
  border: 0.1rem solid #a4a4a4;
  font-size: 16px;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 16px;
  top: 0px;
  cursor: pointer;
}

.sign {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
.sign__form {
  width: 580px;
}
.sign__title {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.sign__alert {
  color: #ffffff;
  background-color: #db820d;
  line-height: 30px;
  margin-bottom: 10px;
}
.sign__label {
  font-size: 1.1rem;
}
.sign__input {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 0.5rem;
  border: 0.1rem solid #a4a4a4;
  font-size: 1rem;
}
.sign__btn {
  cursor: pointer;
  background-color: #f0c040;
  text-align: center;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: 1.2rem;
}
.sign__btn:hover {
  border: 1px solid #000000;
}
.sign__text {
  margin-top: 20px;
  color: #000000;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60vh;
}
.loading img {
  width: 120px;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination__list {
  margin-bottom: 20px;
  display: flex;
}
.pagination__item {
  border: 1px solid;
  width: 30px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 5px 10px;
  border: 1px solid silver;
  background-color: #f8f8f8;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
}
.pagination__item:hover {
  border-color: #000000;
}

.footer__nav {
  display: flex;
  justify-content: space-around;
  background-color: #232f3e;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 780px) {
  .footer__nav {
    flex-wrap: wrap;
    padding-left: 20px;
  }
}
.footer__bottom {
  background-color: #131a22;
  min-height: 20vh;
}
@media (max-width: 780px) {
  .footer__bottom {
    font-size: 12px;
    padding-bottom: 20px;
  }
}
@media (max-width: 780px) {
  .footer__list {
    width: 50%;
  }
}
@media (max-width: 425px) {
  .footer__list {
    width: 100%;
  }
}
.footer__list-item {
  margin-bottom: 10px;
  margin-top: 10px;
}
.footer__list-title {
  font-size: 18px;
  text-align: left;
  color: #fff;
  margin-bottom: 6px;
}
.footer__list-link {
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: left;
  cursor: pointer;
  color: #fff;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__bottom-logo {
  width: 80px;
  padding-top: 30px;
}
.footer__bottom-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
@media (max-width: 910px) {
  .footer__bottom-nav {
    flex-wrap: wrap;
  }
}
.footer__bottom-link {
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}/*# sourceMappingURL=index.css.map */