@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /* font-family: 'Arimo', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  margin-bottom: auto;
}

.header {
  padding-top: 56px;
}

.header__top {
  background-color: #131921;
  height: 56px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
}

.header__nav {
  width: 100%;
  height: 38px;
  background-color: #232f3e;
  position: relative;
}

.header__wrap-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__img {
  width: 110px;
  height: 46px;
  margin-top: 6px;
}

.header__form {
  position: relative;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__input {
  display: block;
  font-size: 14px;
  width: 440px;
  height: 38px;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 40px;
  outline: none;
  border: none;
}

.header__submit {
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0px;
  width: 40px;
  height: 38px;
  background-color: #febd69;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.header__icons {
  margin-left: 14px;
}

.header__icons--avatar {
  font-size: 1.25rem;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  background-color: #1365cf;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.header__sign {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-right: 2px;
  border: 1px solid #131921;
  border-radius: 2px;
  padding: 8px;
}

.header__sign:hover {
  border-color: #fff;
}

.header__cart {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-right: 2px;
  border: 1px solid #131921;
  border-radius: 2px;
  padding: 8px;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.header__cart:hover {
  border-color: #fff;
}

.header__cart-text {
  position: relative;
  top: 9px;
  margin-left: 8px;
  font-size: 14px;
}

.header__cart-badge {
  position: absolute;
  display: block;
  height: 22px;
  width: 22px;
  color: #fff;
  background-color: #5856d6;
  text-align: center;
  line-height: 22px;
  font-size: 13px;
  border-radius: 50%;
  top: 1px;
  left: 25px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}

.nav__link-icon {
  padding-right: 4px;
}

.main__content {
  margin: 30px 0;
}

.main__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 600;
}

.main__search-select {
  padding: 6px;
}

.main__content-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__left-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}

.main__left-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.main__left-item {
  margin-bottom: 6px;
}

.main__left-item i {
  color: #f0c040;
}

.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.card {
  width: 100%;
  border: 0.1rem solid silver;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card__img-top {
  display: block;
  width: 100%;
  height: 292px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__body {
  padding: 4px;
}

.card__title {
  color: #0000ee;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 0;
}

.card__review {
  margin-bottom: 6px;
}

.card__review i {
  color: #f0c040;
}

.detail__go-back {
  margin: 10px 0;
  cursor: pointer;
  color: #55a;
}

.detail__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding-bottom: 50px;
}

.detail__picture {
  width: 50%;
}

.detail__description {
  width: 30%;
}

.detail__right {
  width: 20%;
  border: 0.1rem solid silver;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  padding: 16px;
  height: 270px;
}

.detail__right--cart {
  width: 100%;
  height: 140px;
}

.detail__img {
  display: block;
  width: 100%;
}

.detail__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.detail__item {
  font-size: 16px;
  margin-bottom: 10px;
}

.detail__item--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail__item i {
  color: #f0c040;
}

.detail__select {
  padding: 5px;
}

.detail__btn {
  background-color: #f0c040;
  border: none;
  width: 100%;
  padding: 8px;
  border-radius: 0.5rem;
  border: 0.1rem solid #a4a4a4;
  font-size: 18px;
  margin-top: 16px;
}

.shop-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}

.shop-cart__right {
  width: 300px;
}

.shop-cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(90vw - 300px);
  margin-bottom: 20px;
}

.shop-cart__img {
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}

.shop-cart__select {
  padding: 8px;
}

.shop-cart__btn {
  padding: 6px;
  border-radius: 0.4rem;
  border: 0.1rem solid #a4a4a4;
  font-size: 14px;
}

.modal {
  background-color: #efefef;
  position: fixed;
  left: 0;
  top: 0;
  width: 320px;
  height: 100vh;
  padding: 70px 15px;
}

.modal__content {
  position: relative;
}

.modal__title {
  margin-bottom: 15px;
}

.modal__item {
  margin: 8px 0;
}

.modal__close {
  background-color: #f8f8f8;
  border-radius: 5px;
  border: 0.1rem solid #a4a4a4;
  font-size: 16px;
  padding: 0.1rem .5rem;
  position: absolute;
  right: 16px;
  top: 0px;
  cursor: pointer;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #232f3e;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__bottom {
  background-color: #131a22;
  height: 20vh;
}

.footer__list-item {
  margin-bottom: 10px;
  margin-top: 10px;
}

.footer__list-title {
  font-size: 18px;
  text-align: left;
  color: #fff;
  margin-bottom: 6px;
}

.footer__list-link {
  font-size: 14px;
  letter-spacing: .5px;
  text-align: left;
  cursor: pointer;
  color: #fff;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom-logo {
  width: 80px;
  padding-top: 30px;
}

.footer__bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.footer__bottom-link {
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}
/*# sourceMappingURL=style.css.map */